
*********** WARNING ***********

This system is for authorized use only.  All 
activities are monitored and logged.  Unauthorized 
access is strictly prohibited and will be 
investigated and will result in prosecution.

By accessing this system you acknowledge that all 
data stored and processed herein is confidential 
and should not be disclosed to unauthorized parties.

If you are not authorized to access this system 
you MUST LOG OUT IMMEDIATELY

*******************************

